<% content_for :title do %>Contact<% end %>
<div class="welcome text-center row">
	<div class="welcome-text-area col-md-offset-3 col-md-6">
		<h1>Contact</h1>
	</div>
</div>
<div class="content">
	<div class="row">
			<% flash.each do | key , value | %>
	        	<%= content_tag :div, value, class: "alert alert-#{key} col-md-12" %>
	      	<% end %>
	</div>
	<div class="row">
		      	
	      	<div class="col-md-7">
	      		<p>Please provide your name, email, and a brief comment if you would like to recieve a quote on services. Allow up to 48 hours for a response.</p>

	      	</div>
			<div class="col-md-5 well">
				<%= form_for @contact do |f| %>
					<div class="form-group">
					<%= f.label :name %>
					<%= f.text_field :name, class: "form-control" %>
					</div>

					<div class="form-group">	
					<%= f.label :email %>
					<%= f.email_field :email, class: "form-control" %>
					</div>

					<div class="form-group">
					<%= f.label :comments %>
					<%= f.text_area :comments, class: "form-control" %>
					</div>

					<%= f.submit 'Submit', class: 'btn btn-default pull-right' %>
				<% end %>
			</div>
			
	</div>
</div>