<!DOCTYPE html>
<html>
<head>
  <title>Roberson Analytics</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
</head>
<body>
  <header>
    <%= render 'layouts/navigation' %>
  </header>
<article>
<div>
  <%= yield %>
</div>
</article>
<footer class="footer">
  <div class="container">
  <p class="text-muted">2015 Roberson Analytics</p>
  </div>
</footer>
<script>
  var h = $('.container');
</script>
</body>
</html>
